---
layout: default
title: Movies
search_file: search_movie.json
---
{% unless site.dash.show_author == false %}
  {% include author.html %}
{% endunless %}
<h1>Movies</h1>
<!--page_header-->
<div class="main">
    <ul class="cards">
    {% for movie in site.data.movies %}
    <!--split-->
    <li class="card-item">
        {% assign url = '/assets/thumbs/movies/' | append:movie.img %}
        <div class="card">
          <div class="card_image"><img src="{{ url | relative_url}}"></div>
          <div class="card_content">
            <h2 title="{{movie.name}}">{{movie.name | truncate: 25, '...'}}</h2>
            <a class="btn card_btn" href="{{movie.url | relative_url}}">Watch Now</a>
          </div>
        </div>
    </li>
    {% endfor %}
    </ul>
</div>
<!--page_footer-->