.site-header {
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2;

  // Positioning context for the mobile navigation icon
  position: relative;

  .blinking_cursor {
    animation: blinker 1s none infinite;
    font-size: $base-font-size * 1.25;
  }

  .command_prompt {
    color: $color-blue;
    font-size: $base-font-size;
    margin-left: 0.1em;

    &:before {
      content: $icon-chevron-right;
      @include font-awesome-icon;
      margin-right: 0.2em;
    }
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  margin-bottom: 0;
  // float: left;

  @include media-query($on-palm) {
    padding-right: 15px;
  }

  &,
  &:visited,
  &:hover {
    @include themed() {
       color: t('foreground-color');
    }
    text-decoration: none;
  }
}

.site-footer {
  margin-bottom: 2em
}

.wrapper {
  text-align: justify;
}


// navbar
#nav{
  display: block;
  float: right;

}

nav > ul{
  margin: 0;
  padding: 0;
  flex:0;
  flex-basis: max-content;
  flex-grow: inherit;
}


nav ul > li {
  display: inline-block;
  transition: all 1s ease;
  &:not(:last-child){
    margin-right: 1rem;
  }
}
.collapse a .fa {
  font-size: 1.5rem;
}

/* End Navbar */

/* Start Menu Right */
.collapse {
  position: relative;
  float: right;
  padding-top: 7px;
  padding-right: 1rem;
  display: none;
}
.show{
  opacity:0;
}
.animated{
  animation: appear .5s ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes appear {
  0% {
      opacity: 0;
      flex: 0;
  }
  100% {
      height: 100%;
      flex-basis: auto;
      flex-grow: 1;
      opacity: 1;
      flex: 1;
  }
}

@media screen and (max-width:526px){
  .pc-nav{
    display: none;
  }
  .m-nav{
    display: block;
  }
}
@media screen and (min-width:527px){
  .m-nav{
    display: none;
  }
}


/**
 * Author box
 */

 .author-box {
   margin-bottom: 1em;
   text-align: left;
   min-height: 72px;
   font-style: italic;
   & > .author-avatar {
     float: left;
     white-space: pre-line;
     margin-right: 1em;
     width: 72px;
     height: 72px;
     border-radius: 0.3em;
   }
 }

.site-header {
  margin-bottom: 1em;
}


/* card for books*/

.card_image{
  display: contents;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  margin: auto;
}


.btn {
  color: $color-blue;
  padding: 0.8rem;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 7px;
  font-weight: 700;
  display: block;
  width: 80%;
  cursor: pointer;
  // @include themed() {
  //   border: 1px solid t('foreground-color-contrast');
  // }
  background: transparent;
}

.btn:hover {
  background-color: rgba(126, 126, 126, 0.12);
  text-decoration: none !important;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.cards_item {
  display: flex;
  padding: 1rem;
}



.card {
  background-color: transparent;
  border-radius: 0.4rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 160px;
  margin-bottom: 1rem;
  height: 95%;
}

.card_content {
  padding: 1rem;
  // background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
  background-color: transparent;
  h2{
    font-weight: 700;
    color: $color-pink;
    font-size: 1rem;
    margin-top: 0;
  }
}


@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

@media(max-width: 520px){
  .card{
    width: 44vw;
  }
}

@media (max-width: 354px){
  .card{
    width: 90vw !important;
  }
}

// request form

.pageclip-form{
  display: flex;
  flex-direction: column;
}

.pageclip-form__submit{
  margin-top: 1rem;
  text-transform: uppercase;
  color: $color-blue;
  font-weight: 800;
}
.pageclip-form__submit:hover{
  color: $color-pink;
}

input[type="text"], [type="email"], textarea{
  // @include themed() {
  //     background-color: transparent;
  //   }
  margin-top: 1rem;
  @include themed() {
    color: t('foreground-color');
  }
}

/* post */

.post-title {
    @include themed() {
       color: t('foreground-color');
    }
    text-align: left;
}

.post-description {
  margin-top: 1em;
  font-size: $base-font-size * 1.15;
  @include themed() {
     color: t('foreground-color');
  }
  overflow: hidden;
  width: 100%;
  margin-bottom: 1em;
  margin-left: 0.5em;

  &:after {
    content: "_";
    animation: blinker 1s none infinite;
    font-size: 16px;
  }

  &:before {
    content: $icon-chevron-right;
    @include font-awesome-icon;
    margin-right: 0.5em;
    color: $color-blue;
  }
}

.post {
  margin-bottom: 2em;
  .post-date {
    margin-top: 1em;
    @include themed() {
       color: t('foreground-color-alt');
    }
    font-size: 12px;
    margin-top: 1em;
    margin-left: 0.5em;
  }

  strong {
    @include themed() {
       color: t('foreground-color-contrast');
    }
  }

  img {
    border-radius: 0.3em;
    width: 100%;
  }

  ol > li {
    margin-left: 1em;
    text-align: left;
    margin-bottom: 0.6em;
  }

  ul > li {
    text-align: left;
    margin-bottom: 0.6em;
    @include themed() {
       color: t('list-primary');
    }
    list-style: none;
    margin-left: 0;

    &:before {
      content: $icon-check;
      @include font-awesome-icon;
      margin-right: 0.5em;
    }
  }

  ul, ol {
    padding: 0;
    margin-left: 0.5em;
  }



  & > blockquote {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    font-style: italic;
    @include themed() {
       color: t('quote-primary');
    }

    & > p {
        display: block;
        padding-left: 3em;
    }

    &:before {
      content: $icon-quote-right;
      @include font-awesome-icon;
      margin-right: -2em;
      float: left;

      font-size: 2em;
    }

    li {
      @include themed() {
         color: t('quote-secondary');
      }
      &:before {
        content: $icon-minus;
      }
    }
  }
}

.post-link-wrapper {
   margin-bottom: 1.1em;
   & > .post-link {
     font-size: $base-font-size;
     font-size: $post-link-font-size;
     display: inline-block;
     text-align: initial;
   }

   & > .post-meta {
     @include themed() {
        color: t('foreground-color-alt');
     }
     font-size: $small-font-size;
   }
 }

 .tag-cloud {
   margin-bottom: 2em;
   text-align: left;
   & > a {
     display: inline-block;
     margin: 0.3em 0.3em 0.3em 0;
   }
 }

.tag, .tag-cloud > a {
  color: $color-green;
  @include themed() {
     background-color: t('background-color');
  }
  padding: 0.3em 0.6em;
  border-radius: 0.3em;
  &:hover {
    text-decoration: none;
    color: lighten($color-green, 20%) !important;
    @include themed() {
       background-color: lighten(t('background-color'), 5%);
    }
  }

  &:before {
    content: $icon-tag;
    @include font-awesome-icon;
    margin-right: 0.5em;
  }
}

.tag {
  display: inline-block;
  margin: 0.3em 0.3em 0.3em 0;
}

.post-tags {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  text-align: initial;
}

.credits {
  font-size: 15px;
  @include themed() {
     color: t('foreground-color-alt');
  }

  & > a {
    @include themed() {
         color: t('foreground-color-alt');
    }
    text-decoration: underline;
  }
}

.pagination {
  font-size: $post-link-font-size;
  margin: 1em 0;
  & > a, & > span {
    font-weight: normal;
    display: inline-block;
    min-width: 1em;

    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    text-align: center;

    &:hover {
      text-decoration: none;
    }
  }

  & > a {
    color: $color-green;
    @include themed() {
       background-color: t('background-color');
    }
    &:hover {
      color: lighten($color-green, 20%);
      @include themed() {
         background-color: lighten(t('background-color'), 5%);
      }
    }
  }

  & > span {
    @include themed() {
       color: darken(t('foreground-color'), 20%);
       background-color: darken(t('background-color'), 3%);
    }
  }
}

.social_links {
  float: right;
  text-align: right;
  display: inline-block;
  & > a {
    @include themed() {
       color: darken(t('foreground-color'), 10%);
    }
    display: inline-block;
    padding-left: 0.3em;
    font-size: $post-link-font-size * 1.55;
  }
}

ul.related-posts {

    margin: 0;
    margin-left: 1em;
    padding: 0;

  & > li {
    list-style: none;
    margin-left: 0;

    a {
      display: inline-block;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
    h3 {
      display: inline-block;
      margin: 0;
    }

    &:before {
      content: $icon-flask;
      @include font-awesome-icon;
      color: $color-green;
      margin-right: 0.5em;
    }
  }
}

#theme-toggle {
    background-color: transparent;
    border: none;
    float: right;
    display: inline-block;
    &.dark {
        &:before {
            content: $icon-flask;
            @include font-awesome-icon;
        }
         @include themed() {
            color: t('foreground-color');
         }
    }

    &.light {
        &:before {
            content: $icon-flask;
            @include font-awesome-icon;
        }
        color: $color-yellow;
    }
}


// remove pop up button from emmbeded code
.responsive-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  }
  
  .responsive-container iframe, .responsive-container object, .responsive-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  }

// Navbar mobile
@keyframes bugfix { from {padding:0;} to {padding:0;}}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}

#overlay-button {
  position: fixed;
  right: .5em;
  bottom: .5em;
  // padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  border-radius: 32px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  height: 48px;
  @include themed() {
    color: t('background-color');
  }
  overflow: hidden;
  @include themed() {
    background-color: t('foreground-color');
  }
  img{
    height: 40px;
    margin-left: 6px;
  }
  span {
      height: 4px;
      width: 35px;
      margin-top: 20px;
      border-radius: 2px;
      @include themed() {
        background-color: t('background-color');
      };
      position: relative;
      display: block;
      transition-delay: .3s;
      transition: all .5s ease-in-out;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before, &:after {
          height: 4px;
          width: 35px;
          border-radius: 2px;
          @include themed() {
            background-color: t('background-color');
          };
          position: absolute;
          content: "";
          transition-delay: .3s;
          transition: all .5s ease-in-out;
      }
    }
    &:hover span, &:hover span:before, &:hover span:after {
      @include themed() {
        background-color: lighten(t('background-color'), 20%);
      };
    }
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
}

input[type=checkbox]:not(:checked) ~ #overlay-button{
  .menu-icon{
    display: none;
  }
}

input[type=checkbox]:checked ~ #overlay-button {
  &:hover span, span{
    background: transparent;
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }
    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
  .menu-icon{
    display: block;
  }
  .menu-text{
    display: none;
  }
}

#overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  visibility: hidden;
  position: fixed;
  top: 0;
  &.active {
    visibility: visible;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0 .5em 0 0;
    position: fixed;
    right: 0;
    bottom: 57px; 
    list-style-type: none;
    li {
      margin-bottom: .7em;
      border-radius: 32px;
      padding-left: 15px;
      padding-right: 15px;
      height: 35px;
      line-height: normal !important;
      display: flex;
      align-items: center;
      @include themed() {
        color: t('background-color');
      }
      overflow: hidden;
      @include themed() {
        background-color: t('foreground-color');
      }
      a {
        text-decoration: none;
        font-size: 1.2em;
        &:hover {
          @include themed() {
            color: t('background-color');
          }
        }
      }
    }
  }
}